body,
html,
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: rgb(255, 232, 232);
  overflow-x: hidden;
  font-size: 11pt;
}
.cover {
  min-height: 100vh;
  width: 100vw;
  padding: 0 1em;
}
.container {
  margin: 0 auto;
  max-width: 1220px;
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
#particles-js {
  z-index: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgb(44, 45, 65);
}
#contentWrapper {
  z-index: 100;
}
.button {
  border: 1px solid rgb(255, 119, 119);
  background: rgb(44, 45, 65);
  padding: 0.5em 1em 0.6em 1em;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  color: #fff;
  font-weight: bold;
}
.button:hover {
  background-color: rgb(255, 119, 119);
  border: 1px solid rgb(255, 119, 119);
  color: white;
  cursor: pointer;
  text-shadow: 0 2.5px 10px rgb(141, 4, 4);
}
.offsetTop {
  margin-top: 40px;
}

.display {
  display: flex !important;
}
.hidden {
  opacity: 0;
}
.reveal {
  opacity: 1 !important;
  transition: opacity 0.4s ease-in-out;
}
.slide {
  transform: translateX(-200%);
  transition: 1s;
}
.fadeIn {
  opacity: 1 !important;
  transition: 0.5s ease-in-out;
}
.hide {
  right: -100%;
  transition: 1s;
}

/* animations */

@keyframes fade-in {
  from {
    opacity: 0;
    transform: scale(0.9, 0.9);
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-up-far {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fade-rotate {
  from {
    transform: rotate(360deg);
  }
  to {
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
.fade-in-element {
  animation: fade-in 1.4s;
}
.fade-up-element {
  animation: fade-up 1.4s;
}
.fade-up-far-element {
  animation: fade-up-far 1.4s;
}
.rotate-element {
  animation: fade-rotate 1.4s;
}
.pulse-element {
  animation: pulse 0.7s;
}

/* flex classes */
.flex {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: none;
}
.row {
  flex-direction: row;
}
.wrap {
  flex-wrap: wrap;
}
.flex-portfolio {
  align-items: center;
  justify-content: center;
  display: flex;
  background: none;
  z-index: 100;
}

/* NAV BAR */
nav {
  position: fixed;
  width: 100%;
  height: 75px;
  padding: 1em;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 0 10px 30px rgb(39, 41, 68);
  background: rgb(44, 45, 65);
  z-index: 120;
  font-family: "Roboto Mono", monospace;
}
nav > i {
  font-size: 1.5em;
}
nav > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav > ul > li {
  display: inline-block;
  margin: 0 1.5em 0 0;
  padding: 5px 0;
}
nav > ul > li > span {
  color: rgb(255, 119, 119);
}
.active {
  border-bottom: 2px solid rgb(255, 119, 119);
}

/* HOME PAGE */
#home {
  padding: 0 2em;
}
.smalltext {
  font-family: "Roboto Mono", monospace;
  font-size: 1em;
  color: rgb(255, 119, 119);
  background: none;
  z-index: 100;
}

.maintext {
  font-weight: bold;
  font-size: 3em;
  letter-spacing: 0.1em;
  background: none;
  z-index: 100;
}

.reposition {
  position: absolute;
  top: 0;
}

.subtext {
  font-size: 2em;
  color: rgb(255, 205, 205);
}

.arrow-down {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  font-size: 2em;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  margin-bottom: 3em;
  text-align: center;
}
.arrow-down > p {
  font-size: 0.4em;
  font-family: "Roboto Mono", monospace;
}
.arrow-down > a > i {
  font-size: 2.3em;
}

.media-icons {
  position: fixed;
  bottom: 2em;
  left: 2em;
  display: flex;
  flex-direction: column;
  background: none;
  z-index: 1;
}
.media-icons > a > i {
  font-size: 1.8em;
  margin: 1em 0;
  background: none;
}
.media-icons > a {
  background: none;
}
.media-icons > p {
  font-size: 1em;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

/* ABOUT PAGE */
.about-container {
  text-align: center;
  z-index: 100;
}
.about-container > div {
  width: 20em;
  margin: 0 1.5em 3em 1.5em;
  overflow: visible;
}
.about-container > div > img {
  width: 14em;
  height: auto;
  margin: 0 0 0.5em 0;
}
.backgroundtext {
  position: absolute;
  font-size: 20em;
  font-weight: bold;
  opacity: 0.05;
  font-family: "Roboto Mono", monospace;
  letter-spacing: -0.1em;
  left: 0;
  margin-top: 0.8em;
}

/* PROJECTS PAGE */
.card {
  width: 390px;
  height: 320px;
  margin: 0.5em;
}
.card-container {
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 1em 1.5em;
  background: #fff;
  text-align: center;

  transition: 0.5s ease-in-out;
}
.card-container > p {
  background: none;
  color: rgb(39, 41, 68);
}
p.card-title {
  font-weight: bold;
  font-size: 2.25em;
  font-family: "Roboto Mono", monospace;
}
p.card-highlight {
  margin-top: 0.5em;
}
p.card-highlight > span {
  display: inline-block;
  background: none;
  color: rgb(255, 119, 119);
  font-weight: bold;
  font-size: 0.85em;
  padding: 0.25em;
  border-radius: 5px;
}
p.card-description {
  margin-top: 0.5em;
  color: rgb(0, 0, 0);
  font-size: 1.1em;
  font-family: "Roboto Mono", monospace;
}
.card:nth-child(1) {
  background: url("images/socialapp.jpg") center center/cover;
}
.card:nth-child(2) {
  background: url("images/luxurity-gif.gif") center center/cover;
}
.card:nth-child(3) {
  background: url("images/realestate.png") center center/cover;
}
.card:nth-child(4) {
  background: url("images/landingpg.jpg") center center/cover;
}
.card:nth-child(5) {
  background: url("images/vibrante.png") center center/cover;
}

.canvas {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 150;
}
.card1-open,
.card2-open,
.card3-open,
.card4-open,
.card5-open {
  display: none;
}
.details-card {
  display: block;
  position: relative;
  width: 90%;
  max-width: 625px;
  min-height: 650px;
  max-height: 80%;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 0.2em;
}

.close {
  position: absolute;
  right: 0;
  bottom: 0;
  background: none;
  color: rgb(255, 119, 119);
  border: none;
  font-weight: bold;
  font-size: 2em;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 100%;
  margin: 0.5em;
  float: right;
  z-index: 2;
}
.close:hover {
  cursor: pointer;
}
.close:focus {
  outline: none;
}

.carousel {
  position: relative;
  max-width: 625px;
  height: 325px;
  max-height: 50%;
  overflow: hidden;
}

.carousel > ul {
  list-style: none;
  width: 1875px;
  position: relative;
  padding: 0;
  margin: 0;
  display: flex;
}
.carousel ul li {
  float: left;
  text-align: center;
  list-style: none;
}
.carousel ul li img {
  width: 625px;
  min-height: 325px;
}

.slider-outer {
  width: 100%;
}
#prev,
#next {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  font-size: 2em;
  bottom: 0;
  border-radius: 50%;
  margin: 0.5em 0.5em;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
#prev:hover,
#next:hover {
  background: rgba(0, 0, 0, 1);
  transition: 0.3s ease-in-out;
}
#prev {
  left: 0;
  padding: 0.3em 0.6em 0.3em 0.4em;
  z-index: 100;
}
#next {
  right: 0;
  padding: 0.3em 0.4em 0.3em 0.6em;
  z-index: 100;
}

.info {
  min-height: 325px;
  width: 100%;
  background: #fff;
  padding: 2em;
}
.info > p {
  background: #fff;
}

.info > button {
  margin: 1.2em 1.2em 0 0;
  background: rgb(255, 119, 119);
  padding: 0.5em 0.75em;
  color: #fff;
}
.info > button > i {
  background: none;
  font-size: 1em;
}

.divider {
  height: 0.1em;
  background: rgb(245, 239, 239);
  border: none;
  margin: 1em 0;
}

/* CONTACT */
#contact {
  text-align: center;
  padding: 0 1em;
}
#contact-form {
  margin: 0 auto;
  width: 500px;
  padding: 1em;
  background: none;
  z-index: 100;
}

input,
textarea {
  width: 100%;
  border: none;
  background: rgb(29, 30, 43);
  padding: 1em;
  margin: 0.5em 0;

  transition: 0.3s;
  font-family: "Roboto Mono", monospace;
}
input:focus,
textarea:focus {
  box-shadow: 0 0 0.4em #000;
  transition: 0.3s;
  outline: none;
}

::placeholder {
  color: rgb(255, 205, 205);
  opacity: 0.4;
}

.submit-button {
  width: 100px;
  background: none;
  border: 2px solid #fff;
  float: right;
  padding: 0.75em 1em;
}
.submit-button:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
}
#success {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Roboto Mono", monospace;
  background: rgb(35, 160, 129);
  color: #fff;
  margin-bottom: 0.5em;
}
/* FOOTER */
footer {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(39, 40, 58);
  height: 8em;
  border-top: 2px solid rgb(255, 119, 119);
  width: 100%;
}
footer > p {
  background: none;
  font-family: "Roboto Mono", monospace;
  font-size: 0.9em;
  text-transform: uppercase;
}

/* mobile nav */
#nav-hamburger {
  display: none;
}
#mobile-nav {
  position: fixed;
  z-index: 150;
  top: 0;
  right: -100%;
  height: 100%;
  width: 50%;
  background: #fff;
  border-bottom-left-radius: 25%;
  box-shadow: 0 0 10px rgb(27, 24, 78);
  transition: 1s;
}
#mobile-nav > ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: none;
}
#mobile-nav > ul > li,
#mobile-nav > ul > li > span,
#mobile-nav > ul > li > a,
.mobile-button {
  background: #fff;
  color: #000;
  font-size: 1.05em;

  font-family: "Roboto Mono", monospace;
}
.mobile-button {
  font-size: 1em;
  border: 1px solid rgb(255, 119, 119);
  padding: 0.5em 1em 0.6em 1em;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  color: #000;
  background: #fff;
  font-weight: bold;
}
.mobile-button:hover {
  background-color: rgb(255, 119, 119);
  border: 1px solid rgb(255, 119, 119);
  color: white;
  cursor: pointer;
  text-shadow: 0 5px 10px rgb(121, 0, 0);
}
#mobile-nav > ul > li {
  padding-bottom: 1em;
}
#mobile-nav > ul > li > span {
  color: rgb(255, 119, 119);
}
#mobile-nav > ul > li > a {
  transition: color 0.2s ease-in-out;
}
#mobile-nav > ul > li > a:hover {
  color: rgb(255, 119, 119);
  transition: color 0.2s ease-in-out;
}

#close {
  background: none;
  color: rgb(255, 119, 119);
  border: none;
  font-weight: bold;
  font-size: 2em;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  line-height: 100%;
  margin: 10px;

  transition: font-size 0.1s;
}
#close:hover {
  cursor: pointer;
  font-size: 2.3em;
  transition: font-size 0.1s;
}
#close:focus {
  outline: none;
}
.mobile-icons {
  background: none;
  margin-top: 5em;
}
.mobile-icons > a {
  background: none;
}
.mobile-icons > a > i {
  background: none;
  color: #000;
  font-size: 1.75em;
  margin: 1em 0.5em;
  transition: 0.4s ease-in-out;
}
.mobile-icons > a > i:hover {
  transform: rotate(360deg);

  color: rgb(255, 119, 119);
  transition: 0.4s ease-in-out;
}

@media only screen and (max-width: 600px) {
  .cover {
    padding: 0;
    margin: 0;
    width: 100%;
  }
  nav > ul {
    display: none;
  }
  #nav-hamburger {
    display: block;
    margin-right: 0.5em;
  }
  #nav-hamburger:hover {
    cursor: pointer;
  }

  .media-icons {
    display: none;
  }

  .card {
    width: 90%;
  }
  .info {
    padding: 1em;
  }

  #contact-form {
    width: 90%;

    background: none;
  }
  .flex-portfolio {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: none;
  }
}
